@import "tailwindcss";

/* tailwindcss wala varibles hadla, api site eke use krna colors thiygnna
tailwindcss how to make variables --> https://tailwindcss.com/docs/theme*/

@theme {
    --color-primary: #F7FAFF;
    --color-secondary: #111827;
    --color-accent:  #2563EB;
}